
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<head>

    <link rel="stylesheet" href="~/css/schedule.css" asp-append-version="true" />
</head>*@
@*<h1>Welcome</h1>*@

<body>
    <div class="welcome-container">
        <h1>Welcome to My Website</h1>
    </div>
</body>