@model Appointment.Models.SchedulerModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        .my-button {
            background-color: #0F52BA;  
            color: #fff;  
            font-size: 16px; 
            padding: 3px 5px;
            margin: 3px; 
            border: 3px solid #000000; 
            border-radius: 5px; 
            cursor: pointer; 
        }

            .my-button:hover {
                background-color: #3399FF;  
            }


    </style>
</head>
<h2>Create</h2>

<h6>Create Your Appointment !</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index"><button class="my-button" type="submit">Back</button></a>

                @*<button class="btn btn-primary" type="submit">Download</button>*@
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index"><button class="my-button" type="submit">Back</button></a>
</div>*@

