@model Appointment.Models.SchedulerModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        .my-button {
            background-color: #0F52BA; /* set background color */
            color: #fff; /* set text color */
            font-size: 16px; /* set font size */
            padding: 3px 5px;
            margin: 3px; /* set margin (top, right, bottom, left) */
            border: 3px solid #000000; /* remove border */
            border-radius: 5px; /* add border radius */
            cursor: pointer; /* add cursor pointer on hover */
        }

            .my-button:hover {
                background-color: #3399FF; /* change background color on hover */
            }


    </style>
</head>
<h2>Edit</h2>

<h6>Edit Your Appointment !</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="my-button" /> |
                <a asp-action="Index"><button class="my-button" type="submit">Back</button></a>

            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index"><button class="my-button" type="submit">Back</button></a>
</div>

*@